# Core Framework
django>=5.0
djangorestframework
django-environ

# Database Drivers & Tools
PyMySQL
cryptography

# Production & Deployment
whitenoise[brotli]
gunicorn
serverless_wsgi

# Security
django-cors-headers

# HTTP & External Communication
requests
